* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.container {
    background-color: #d1d1d1;
    padding: 20px;
}

.register-box {
    width: 400px;
    height: 40px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;

}

.register-box:focus {
    border: 2px solid #383838;
}


.btn {
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.5;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-radius: 10px;
}

.btn:hover {
    opacity: 1;
}

.valid {
    color: green;
}

    .valid:before {
        position: relative;
        left: -35px;
    }

.invalid {
    color: red;
}

    .invalid:before {
        position: relative;
        left: -35px;
    }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}